body {
  height: 1000px;
}

.intro {
  background: url("/images/toba.webp");
  background-size: cover;
  background-repeat: no-repeat;
}

.navbar {
  background: rgba(255, 255, 255, 0.5);
}

.section {
  min-height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  min-height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #434242;
}
